<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-facebook"></i>
      <a href="https://www.instagram.com/nareshptt/"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://www.linkedin.com/in/nareshptt"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; Techtrst Privete Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
